{% extends 'base.html' %} 

{% block content %} 
    <div class="container">
        <br><br><br>
        <h1 class='text-lg-center'>Searching by name</h1>
        <br><br>
        <form action="post">
            <label for="name-input" class='form-text text-lg-center'>Name</label>            
            <input type="text" class='form-control' name="name-input" id="name-input">
            <br><br>
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </form>
    </div>
{% endblock %}